body{
    background-color: #ffe6e6;
    color: black;
    text-align: center;
    font-family: "Apple Braille", serif;
    font-size: calc(2vw);
    margin: 0;
}

.break{
    color: #fff1f1;
    font-size: calc(3vw);
    background-image: url("assets/break.jpeg");
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 20px rgb(107, 107, 107);
    padding: 15px 0;
    width: 100vw;
}

.services{
    display: flex;
    flex-wrap: wrap;

    flex: 1 0 50%;

    align-items: center;
    justify-content: center;
}

.storyBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 40px;
}

.storyText{
    width: 50vw;
}

.storyPic{
    height: 70vmin;
    border-radius: 20px;
}


.box{
    margin:10px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(91, 91, 91, 0.72);
    width: 30vw;
    background-color: #fff1f1;
    border-radius: 10px;
    transition: 0.3s;
}

.box:hover{
    padding: 20px 30px;
    background-color: #e7e7e7;
    transition: 0.3s;
}

.logo{
    height: 50vh;
    width: 50vh;
}

.start{
    background-image: url("assets/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.stories{
    width: 100%;
    margin: 0;
    padding: 50px 0;

    background-color: #fff1f1;
}

.contactUs{
    display: flex;
    background-color: #fff1f1;
    padding: 50px 0;
}